<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var prisonApp = angular.module('prisonApp', []);
        prisonApp.controller('MainCtrl', function ($scope, $http) {

            $scope.loadCells = function()
            {
                $http.get('/prisoncell/').then(function (res) {
                    //console.log(res.data);
                    $scope.cells = res.data;
                },function (reason) { console.log(reason); });
            };

            $scope.loadPrisonCellsWithSpace = function () {
                $http.get('/prisoncell/free_space').then(function (res) {
                    //console.log(res.data);
                    $scope.cells = res.data;
                },function (reason) { console.log(reason); });
            };

            $scope.loadPrisoners = function()
            {
                $http.get('/prisoner/').then(function (res) {
                    //console.log(res.data);
                    $scope.prisoners = res.data;
                },function (reason) { console.log(reason); });
            };


            $scope.loadGuards = function()
            {
                $http.get('/prisonguard/').then(function (res) {
                    //console.log(res.data);
                    $scope.guards = res.data;
                },function (reason) { console.log(reason); });
            };

            $scope.isCurrentPage = function(val){ return $scope.currentPage === val; };
            $scope.setCurrentPage = function (val) { $scope.currentPage = val;};

            $scope.clearData = function()
            {
                $scope.cells = null;
                $scope.prisoners = null;
                $scope.newCell = null;
                $scope.newPrisoner = null;
                $scope.confirmationPageClear();
            };

            $scope.loadPrisonerListPage = function () {
                $scope.clearData();
                $scope.currentPage = "prisoners";
                $scope.loadPrisoners();
            };
            $scope.loadCellListPage = function () {
                $scope.clearData();
                $scope.currentPage = "cells";
                $scope.loadCells();
            };
            $scope.loadGuardListPage = function () {
                $scope.clearData();
                $scope.currentPage = "guards";
                $scope.loadGuards();
            };
            $scope.prisonerOfCell = function(id)
            {
                var prisoners  =  $scope.cells.filter(
                    function (obj) {
                        return obj.id === id;
                    }
                )[0].prisoners;
                $scope.clearData();
                $scope.currentPage = "prisoners";
                $scope.prisoners = prisoners;
            };

            $scope.addCellPage = function() {
                $scope.clearData();
                $scope.currentPage = "add_cell"
            };

            $scope.addPrisonerPage = function() {
                $scope.clearData();
                $scope.currentPage = "add_prisoner";
                $scope.loadPrisonCellsWithSpace();
            };

            $scope.editPrisonerPage = function(id) {
                var prisoner  =  $scope.prisoners.filter(
                    function (obj) {
                        return obj.id === id;
                    }
                )[0];
                $scope.clearData();
                $scope.newPrisoner = prisoner;
                $scope.currentPage = "edit_prisoner";
                $scope.loadPrisonCellsWithSpace();
            };

            $scope.addGuardPage = function() {
                $scope.clearData();
                $scope.currentPage = "add_guard";
                $scope.loadPrisonCellsWithSpace();
            };

            $scope.editGuardPage = function(id) {
                var guard  =  $scope.guards.filter(
                    function (obj) {
                        return obj.id === id;
                    }
                )[0];
                $scope.clearData();
                $scope.newGuard = guard;
                $scope.currentPage = "edit_guard";
                $scope.loadPrisonCellsWithSpace(); ////////////////////
            };

            $scope.confirmationPage = function( callback, cancelCallback, confirmationText )
            {
                $scope.confirmationPageCallbackOK = callback;
                $scope.confirmationPageCallbackCancle = cancelCallback;
                $scope.confirmationText = confirmationText;
                $scope.currentPage = "confirmation"
            };

//////////////////////////////////

            $scope.submitNewCell = function()
            {
                $http.post("/prisoncell/new",$scope.newCell).then(
                    function (value) {
                        console.log("succes");
                        console.log(value);
                        $scope.loadCellListPage();
                    },function (reason) {
                        console.log("err");
                        console.log(reason); }
                );
            };
            $scope.deleteCell = function(id) {
                var cell  =  $scope.cells.filter(
                    function (obj) {
                        return obj.id === id;
                    }
                )[0];
                $scope.confirmationPage(
                    function () {
                        $http.post("/prisoncell/delete",cell).then(
                            function (value) {
                                console.log("succes");
                                console.log(value);
                                $scope.loadCellListPage();
                            },function (reason) {
                                $scope.loadCellListPage();
                                console.log("err");
                                console.log(reason); }
                        );
                    }, function () {
                        $scope.loadCellListPage();
                    },
                    "Are you sure to delete cell with ID: "+id+" ?"
                );
            };

            $scope.submitNewPrisoner = function()
            {
                $http.post("/prisoner/new",$scope.newPrisoner).then(
                    function (value) {
                        console.log("succes");
                        console.log(value);
                        $scope.loadPrisonerListPage();
                    },function (reason) {
                        console.log("err");
                        console.log(reason); }
                );
            };
            $scope.submitPrisonerModification = function()
            {
                $http.post("/prisoner/save",$scope.newPrisoner).then(
                    function (value) {
                        console.log("succes");
                        console.log(value);
                        $scope.loadPrisonerListPage();
                    },function (reason) {
                        console.log("err");
                        console.log(reason); }
                );
            };


            $scope.deletePrisoner = function(id) {
                var prisoner  =  $scope.prisoners.filter(
                    function (obj) {
                        return obj.id === id;
                    }
                )[0];
                $scope.confirmationPage(
                    function () {
                        $http.post("/prisoner/delete",prisoner).then(
                            function (value) {
                                console.log("succes");
                                console.log(value);
                                $scope.loadPrisonerListPage();
                            },function (reason) {
                                $scope.loadPrisonerListPage();
                                console.log("err");
                                console.log(reason); }
                        );
                    }, function () {
                        $scope.loadPrisonerListPage();
                    },
                    "Are you sure to delete Prisoner( "+ prisoner.prisonerName+") with ID: "+id+" ?"
                );
            };
            $scope.submitNewGuard = function()
            {
                $http.post("/prisonguard/new",$scope.newGuard).then(
                    function (value) {
                        console.log("succes");
                        console.log(value);
                        $scope.loadGuardListPage();
                    },function (reason) {
                        console.log("err");
                        console.log(reason); }
                );
            };

            $scope.deleteGuard = function(id) {
                var guard  =  $scope.guards.filter(
                    function (obj) {
                        return obj.id === id;
                    }
                )[0];
                $scope.confirmationPage(
                    function () {
                        // Fix
                        console.log(guard);
                        guard.name = guard.prisonGuardName;
                        $http.post("/prisonguard/delete",guard).then(
                            function (value) {
                                console.log("succes");
                                console.log(value);
                                $scope.loadGuardListPage();
                            },function (reason) {
                                $scope.loadGuardListPage();
                                console.log("err");
                                console.log(reason); }
                        );
                    }, function () {
                        $scope.loadPrisonerListPage();
                    },
                    "Are you sure to delete Guard( "+ guard.prisonGuardName+")?"
                );
            };


            $scope.confirmationPageClear = function()
            {
                $scope.confirmationText=null;
                $scope.confirmationPageCallbackOK = null;
                $scope.confirmationPageCallbackCancle = null;
            };

            $scope.confirmationOK = function()
            {
                $scope.confirmationPageCallbackOK();
                $scope.confirmationPageClear();
            };
            $scope.confirmationCancel = function()
            {
                $scope.confirmationPageCallbackCancle();
                $scope.confirmationPageClear();
            };


            $scope.loadCellListPage();
        });
    </script>
</head>
<body>
<div ng-app="prisonApp">
    <div ng-controller="MainCtrl">
        <button ng-click="loadCellListPage()">
            Cells
        </button>
        <button ng-click="loadPrisonerListPage()">
            Prisoners
        </button>
        <button ng-click="loadGuardListPage()">
            Guards
        </button>
        <div ng-show = "isCurrentPage('cells')">
            <Button ng-click="addCellPage()">
                Add Cell
            </Button>
            <table>
                <thead>
                <td>
                    ID
                </td>
                <td>
                    SPACE
                </td>
                <td>
                    DESCRIPTION
                </td>
                <td>
                    Prisoners
                </td>
                <td>
                    DELETE
                </td>
                </thead>
                <tbody ng-repeat="i in cells">
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.space}}</td>
                        <td>{{i.cellDesc}}</td>
                        <td>
                            <button ng-click = "prisonerOfCell(i.id)">
                                Prisoners
                            </button>
                        </td>
                        <td>
                            <button ng-click = "deleteCell(i.id)">
                                X
                            </button>
                        </td>
                    </tr>
            </table>
        </div>
        <div ng-show = isCurrentPage("prisoners")>
        <Button ng-click="addPrisonerPage()">
            Add Prisoner
        </Button>
        <table>
            <thead>
            <td>
                ID
            </td>
            <td>
                NAME
            </td>
            <td>
                INCIDENT
            </td>
            <td>
                PRISONED AT
            </td>
            <td>
                RELEASE DATA
            </td>
            <td>
                MODIFY
            </td>
            <td>
                DELETE
            </td>
            </thead>
            <tbody ng-repeat="i in prisoners">
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.prisonerName}}</td>
                <td>{{i.incident}}</td>
                <td>{{i.placeDate | date:'short'}}</td>
                <td>{{i.releaseDate | date:'short' }}</td>
                <td>
                    <button ng-click = "editPrisonerPage(i.id)">
                        Modify
                    </button>
                </td>
                <td>
                    <button ng-click = "deletePrisoner(i.id)">
                        X
                    </button>
                </td>
            </tr>
        </table>


    </div>
        <div ng-show = isCurrentPage("guards")>
            <Button ng-click="addGuardPage()">
                Add Guard
            </Button>
            <table>
                <thead>
                <td>
                    NAME
                </td>
                <td>
                    DELETE
                </td>
                </thead>
                <tbody ng-repeat="i in guards">
                <tr>
                    <td>{{i.prisonGuardName}}</td>
                    <td>
                        <button ng-click = "deleteGuard(i.id)">
                            X
                        </button>
                    </td>
                </tr>
            </table>


        </div>


        <div ng-show="isCurrentPage('add_cell')">
            <form>
                Descriptiom:<br>
                <input type="text" ng-model="newCell.cellDesc"><br>
                Space:<br>
                <input type="number" ng-model="newCell.space">
                <br><br>
            </form>
            <button ng-click="submitNewCell()">
                Add
            </button>
            <button ng-click="loadCellListPage()">
                Cancle
            </button>
        </div>

        <div ng-show="isCurrentPage('add_prisoner')">
            <form>
                Name:<br>
                <input type="text" ng-model="newPrisoner.prisonerName"><br>
                Incident:<br>
                <input type="text" ng-model="newPrisoner.incident"><br>
                ReleaseDate:<br>
                <input type="date" ng-model="newPrisoner.releaseDate">
                Cell:<br>
                <select ng-model="newPrisoner.cellId" ng-options="x.id as x.id for x in cells"></select>
                <br><br>
            </form>
            <button ng-click="submitNewPrisoner()">
                Add
            </button>
            <button ng-click="loadPrisonerListPage()">
                Cancle
            </button>
        </div>

        <div ng-show="isCurrentPage('edit_prisoner')">
            <form>
                Name:<br>
                {{newPrisoner.prisonerName}}<br>
                Incident:<br>
                {{newPrisoner.incident}}<br>
                ReleaseDate:<br>
                {{i.releaseDate }}
                Cell:<br>
                <select ng-model="newPrisoner.cellId" ng-options="x.id as x.id for x in cells track by x.id" ng-op></select>
                <br><br>
            </form>
            <button ng-click="submitPrisonerModification()">
                OK
            </button>
            <button ng-click="loadPrisonerListPage()">
                Cancle
            </button>
        </div>

        <div ng-show="isCurrentPage('add_guard')">
            <form>
                Name:<br>
                <input type="text" ng-model="newGuard.prisonGuardName"><br>
                <br><br>
            </form>
            <button ng-click="submitNewGuard()">
                Add
            </button>
            <button ng-click="loadGuardListPage()">
                Cancle
            </button>
        </div>


        <div ng-show="isCurrentPage('confirmation')">
            <p>{{confirmationText}}</P>
            <button ng-click = "confirmationOK()">OK</button>
            <button ng-click = "confirmationCancel()">Cancel</button>
        </div>
    </div>
</div>
</body>
</html>