<!doctype html>
<html lang="en" ng-app="SingSingApp">

<head>
  <meta charset="utf-8">

  <base href="/" />

  <title>SingSing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" />
  <link rel="stylesheet" href="app/app.css" />

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/app.config.js"></script>
  <script src="app/index.controller.js"></script>
  <script src="app/components/home/home.component.js"></script>
  <script src="app/components/cells/cells.component.js"></script>
  <script src="app/components/prisoners/prisoners.component.js"></script>
  <script src="app/components/areas/areas.component.js"></script>
  <script src="app/components/guards/guards.component.js"></script>
  <script src="app/components/holiday/holiday.component.js"></script>
  <script src="app/components/schedules/schedules.component.js"></script>
  <script src="app/components/logs/logs.component.js"></script>
  <script src="app/components/topology/topology.component.js"></script>
  <script src="app/services/backEndService/backEndService.service.js"></script>
  <script src="app/models/backEndModel.js"></script>
</head>

<body>

  <div ng-controller="indexController">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">SingSing</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/cells">Cells</a></li>
          <li><a href="/prisoners">Prisoners</a></li>
          <li><a href="/areas">Areas</a></li>
          <li><a href="/guards">Guards</a></li>
          <li><a href="/holiday">Holidays</a></li>
          <li><a href="/schedules">Schedule</a></li>
          <li><a href="/topology">Topology</a></li>
          <li><a href="/logs">Logs</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="progress">
      <div class="progress-bar" role="progressbar" ng-style="fullnessStyle">
        {{fullness}}%
      </div>
    </div>

    <div class="main-container">
      <div class="container">
        <div ng-view="">
        </div>
      </div>
      <div id="footer" class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="text-muted">ELTE</p>
            <p class="text-muted">{{versionNumber}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>