<div>
    <h1 ng-if="!isEditing">Add new area</h1>
    <h1 ng-if="isEditing">Edit area</h1>
    <form name="areaForm">
        Name:<br>
        <input id="areaName" type="text" ng-model="newArea[areaModel.name]" required><br>
          Security Level:<br>
        <select ng-model="security.selectedSecurity" ng-options="securityLvl.name for securityLvl in security.availableSecurity track by securityLvl.name" ng-change="addSecurityLevel(security.selectedSecurity.name)"></select><br>
        <br>
        <button type="submit" ng-disabled="areaForm.$invalid" ng-click="submitNewArea()">
            <span ng-if="!isEditing">Add</span>
            <span ng-if="isEditing">Save</span>
        </button>
        <button type="button" ng-click="cancelNewArea()">
            Cancel
        </button>
    </form>
</div>
<hr />
<div>
    <table id="areaList_table" class="table table-condensed table-bordered table-striped">
        <thead>
            <td>
                ID
            </td>
            <td>
                NAME
            </td>
            <td>
                SECURITY
            </td>
            <td>
            </td>
            <td>
            </td>
        </thead>
        <tbody>
            <tr ng-repeat="i in areas track by i[areaModel.id]">
                <td>{{i[areaModel.id]}}</td>
                <td>{{i[areaModel.name]}}</td>
                <td>{{i[areaModel.areaSecurity]}}</td>
                <td>
                    <button ng-click="editArea(i[areaModel.id])">
                        Edit
                    </button>
                </td>
                <td>
                    <button ng-click="deleteArea(i[areaModel.id])">
                        Delete
                    </button>
                </td>
            </tr>
    </table>
</div>