<div>
    <h1>Add new guard</h1>
    <form name="guardForm">
        Name:
        <br>
        <input type="text" ng-model="newGuard[guardModel.name]" required>
        <br>
        <button ng-disabled="guardForm.$invalid" ng-click="submitNewGuard()">
            Add
        </button>
        <button ng-click="cancelNewGuard()">
            Cancel
        </button>
    </form>
</div>
<hr />
<div>
    <table id="guardList_table" class="table table-condensed table-bordered table-striped">
        <thead>
            <td>
                NAME
            </td>
            <td>
                DELETE
            </td>
        </thead>
        <tbody ng-repeat="i in guards">
            <tr>
                <td>{{i[guardModel.name]}}</td>
                <td>
                    <button ng-click="deleteGuard(i[guardModel.name])">
                        Delete
                    </button>
                </td>
            </tr>
    </table>
</div>