<div id="cellError" style="display:none">
    Prisoner and cell security level not match:
    <ul>
        {{requiredSecurity}}
    </ul>
</div>
<div>
    <h1 ng-if="!isEditing">Add new prisoner</h1>
    <h1 ng-if="isEditing">Edit prisoner</h1>
    <form name="prisonerForm">
        Name:<br>
        <input type="text" ng-model="newPrisoner[prisonerModel.prisonerName]" required><br>
        Incident:<br>
        <input type="text" ng-model="newPrisoner[prisonerModel.incident]"><br>
        ReleaseDate:<br>
        <input type="date" ng-model="newPrisoner[prisonerModel.releaseDate]"><br>
        Cell:<br>
        <select id="cell" ng-model="newPrisoner[prisonerModel.cellId]" ng-options="x[cellModel.id] as x[cellModel.id] for x in cells"></select>
        <br>
           Security Level:<br>
        <select id="securityLevel" ng-model="security.selectedSecurity" ng-options="securityLvl.name for securityLvl in security.availableSecurity track by securityLvl.name" ng-change="addSecurityLevel(security.selectedSecurity.name)" ></select><br>
        <br><br>
        <button ng-disabled="prisonerForm.$invalid" ng-click="submitNewPrisoner()">
            <span ng-if="!isEditing">Add</span>
            <span ng-if="isEditing">Save</span>
        </button>
        <button ng-click="cancelNewPrisoner()">
            Cancel
        </button>
    </form>
</div>

<div>
    <table id="prisonerList_table" class="table table-condensed table-bordered table-striped">
        <thead>
            <td>
                ID
            </td>
            <td>
                NAME
            </td>
			<td>
                SECURITY LEVEL
            </td>
            <td>
                INCIDENT
            </td>
            <td>
                CELL
            </td>
            <td>
                PRISONED AT
            </td>
            <td>
                RELEASE DATA
            </td>
            <td>
            </td>
            <td>
            </td>
        </thead>
        <tbody ng-repeat="i in prisoners track by i.id">
            <tr>
                <td>{{i[prisonerModel.id]}}</td>
                <td>{{i[prisonerModel.prisonerName]}}</td>
				<td>{{i[prisonerModel.prisonerSecurity]}}</td>
                <td>{{i[prisonerModel.incident]}}</td>
                <td>{{i[prisonerModel.cellId]}}</td>
                <td>{{i[prisonerModel.placeDate] | date:'short'}}</td>
                <td>{{i[prisonerModel.releaseDate] | date:'short' }}</td>
                <td>
                    <button ng-click="editPrisoner(i[prisonerModel.id])">
                        Edit
                    </button>
                </td>
                <td>
                    <button ng-click="deletePrisoner(i[prisonerModel.id])">
                        Delete
                    </button>
                </td>
            </tr>
    </table>
</div>